{% extends "base.html" %}
{% block content %}
    <div class="container-center">
        <div class="page-header">
            <h1>Tela Inicial</h1>
        </div>
        <div class="button-group">
            <a href="{{ url_for('bp_pessoa.cadastrar') }}"><input type="button" class="btn btn-primary btn-lg" value="Cadastro de Pessoa"></a>
            <a href="{{ url_for('bp_pessoa.lista') }}"><input type="button" class="btn btn-primary btn-lg" value="Lista de Pessoas"></a>
            <a href="{{ url_for('bp_login.logout') }}"><input type="button" class="btn btn-primary btn-lg" value="Sair"></a>
        </div>	
    </div>
{% endblock %}
